<div class="bg-gray-50 h-full">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center justify-center flex-col h-full">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block text-indigo-600">Hangman Game</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow flex-row-reverse">
        <button class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-r-md text-white bg-indigo-600 hover:bg-indigo-700" (click)="joinToRoom()">
          Dołącz do pokoju
        </button>
        <div class="col-span-6 sm:col-span-3">
          <input type="text" name="first-name" [(ngModel)]="gameID" placeholder="Game ID" class="focus:ring-indigo-500 focus:border-indigo-500 rounded-l-md block w-full shadow-sm sm:text-lg border-gray-300 h-full">
        </div>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <button class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50" (click)="createRoom()">
          Utwórz pokój
        </button>
      </div>
    </div>
    <div class="mt-2 inline-flex text-red-600 items-start font-thin text-xs text-left" *ngIf="error">
      <span>{{error}}</span>
    </div>
  </div>
</div>
