<div class="relative bg-gray-50 h-full">
  <div *ngIf="gameService.wordOriginal else start_game">
    <div>
      <div class="hangman m-auto mt-4 mb-8">
        <ng-container [ngTemplateOutlet]="hangman" [ngTemplateOutletContext]="{mistakes: (gameService.mistakes)}"></ng-container>
      </div>
    </div>
    <div class="w-full">
      <div class="result m-auto flex justify-center">
        <span class="text-center">{{gameService.displayWordAnswer}}</span>
      </div>
    </div>
    <div class="row letters-button">
      <div class="letter-container m-auto grid grid-cols-6 gap-y-2">
        <app-letter-button *ngFor="let letter of gameService.alphabet" (buttonClicked)="clickedLetter($event)" [letter]="letter"></app-letter-button>
      </div>
    </div>
  </div>
  <div>
    {{ letterHistory | json }}
  </div>
  <div class="absolute left-0 top-0 p-4 shadow h-full overflow-auto">
    <ng-container [ngTemplateOutlet]="userInGame"></ng-container>
  </div>
</div>

<ng-template #hangman let-mistake="mistakes">
  <canvas class="m-auto" id="hangman" width="300" height="300" appHangmanCanvas [mistakesCounter]="mistake">
  </canvas>
<!--  <div class="man" [ngClass]="{'hide': mistake !== 6}">-->
<!--    <img src="../../../assets/man.png" alt="hangman">-->
<!--  </div>-->
<!--  <div class="block line" [ngClass]="{'hide': mistake < 5}"></div>-->
<!--  <div class="block bridge" [ngClass]="{'hide':mistake < 4}"></div>-->
<!--  <div class="block hand" [ngClass]="{'hide': mistake < 3}"></div>-->
<!--  <div class="block tower" [ngClass]="{'hide': mistake < 2}"></div>-->
<!--  <div class="block floor" [ngClass]="{'hide': mistake < 1}"></div>-->
</ng-template>

<ng-template #start_game>
  <div class="relative bg-gray-50 h-full">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center justify-center flex-col h-full">
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0 flex-col">
        <div class="ml-3 inline-flex rounded-md shadow" *ngIf="isAdmin else userIsNotAdmin">
          <button class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50" (click)="startGame()">
            Rozpocznij grę
          </button>
        </div>
        <div class="ml-3 inline-flex rounded-md shadow inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50 mt-4">
          <a href="/game?game_id={{gameID}}" target="_blank">Zaproś do gry</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #userIsNotAdmin>
  <span>
    Czekaj na rozpoczęcie gry
  </span>
</ng-template>

<ng-template #userInGame>
  <div class="flex flex-col justify-center">
    <span class="text-center w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10 my-2" *ngFor="let user of userInGame$ | async">
      {{user}}
    </span>
  </div>
</ng-template>
